<h2 class="mt-3 text-center"><%= @chatroom.topic %></h2>

<div>
  <% if @chatroom.messages.any? %>
    <ul class="list-group list-group-flush" id="messages">
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </ul>
  <% else %>
    <div id="messages">
    </div>
  <%end%>
</div>


  <%= render partial: 'messages/message_form', locals: { message: @message, chatroom: @chatroom }%>
</div>
